*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato","Helvetica","Arial","sans-serif";
}
body{
    height: 1500px;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    
}
header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color: #f05a66;
    padding:0 80px;
   
}
.left_nav{
    display: flex;
}
.right_nav{
    display: flex;
}
.nav_child{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}


.nav_english,
.usd,
.nav_contact,
.nav_faqs{
    border: rgba(255, 255, 255, 0.25) solid 1px;
    border-bottom: none;
    border-top: none;
    padding:  12px 10px;
}
.nav_english,
.usd,
.nav_contact,
.nav_faqs,
.nav_shipping{
    font-size: 12px;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    text-transform: uppercase;
}
.fa-brands,
.fab{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
.nav_shipping,.fa_parent{
    padding:  12px 0;
    color: rgb(248, 245, 245);

}
.fa_parent{
 padding: 10px 10px;
}
.nav_shipping{
  padding: 10px 10px;
  margin-top: 2px;
}
.nav_english,.nav_contact{
    border-right: none;
}
.drop-down{
    position: relative;
}

.english_drop-down{
    position: absolute;
    color: black;
    list-style-type: none;
 margin: 0;
 padding: 0 ;
 width: 100px;
 display: none;
 background-color: rgb(255, 255, 255);
    
}
.english_drop-down li{
    padding: 10px 10px;
    font-size: 13px;
}
.drop-down:hover .english_drop-down{
    display: block;
   
    
}

.english_drop-down li:hover{
    color: rgb(228, 66, 66);
    
   
    
}
.drop-down:hover .english_ground{
    background-color: rgb(247, 247, 247);
}
.english_drop-down li:hover{
    background-color: rgb(247, 247, 247);
}

.usd_link{
    position: relative;
}
.usd_drop-down{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 60px;
    color: rgb(0, 0, 0);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
   
    
}
.usd_drop-down li{
    padding: 8px 8px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
}
.usd_link:hover .usd_drop-down{
    display: block;
    box-shadow: 0 2px 2px rgb(231, 230, 230);
}
.usd_drop-down li:hover{
    color: rgb(228, 66, 66);
    background-color: rgb(247, 247, 247);
}
.main_body{

    
   margin-left: 70px;
   margin-right: 70px
}
.sub_nav--parent{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 18px 0;
    margin: 15px 0;
    margin-left: -70px;
    margin-right: -70px;
    z-index: 1000;
}
.sub-nav{
   
   display: flex;
   justify-content: space-between;
     
   margin-left: 70px;
   margin-right: 70px
  
   
}

.sub-nav_link-parent{
    display: flex;
    justify-content: space-between;
    width: 75%;
    
}
.sub-nav_link-child li{
    display: inline;
    list-style-type: none;

}

.link_child{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    font-size: 13px;
    padding: 0px 8px;
   
}
.link_child:hover{
    color: #f05a66;
}
.link_child--center{
    padding: 18px 12px;
}
.fa-solid{
    font-size: 16px;
}
.home_link{
    position:relative;
}
.home_img-parent--parent{
display: none;
position: absolute;
height: 670px;
margin-left: -305px;
margin-right: 70px;
margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 1000;
}
.home_img-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 20px;
   


}

.li_home:hover .home_img-parent--parent{
  display: block;
 
}
.home_img{
    width:90%;
    padding: 10px 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    
}
.home_article{
    text-align: center;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    margin-top: 10px;
}
.home_img-child{
    width: 20%;
}
.home_img-child{
    margin-top: 30px;
}


.shop_parent--parent{
  width: 100%;
  right: 0;
    box-shadow: 0 4px 8px rgba(44, 43, 43, 0.25);
   margin-top: 20px;
   position: absolute;
   display: none;
   background-color: white;

}

.li_shop:hover .shop_parent--parent{
    display: block;
}
.shop_hover--parent{
padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
  
}
.shop_child--h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    color: rgb(66, 65, 65);
    margin-top: 20px;
}

.shop_child--new{
    margin-top: 0;
}
.hot__shop{
    background-color: #e54d26;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    display: block;
width: fit-content;
    font-size: 11px;
    margin-left: 70px;
  }
  .hot__shop::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #e54d26 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
  .new{
    background-color: #19a730;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    display: block;
width: fit-content;
    font-size: 11px;
    margin-left: 70px;
  }
  .new::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #19a730 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
.shop_child p{
    font-size: 13px;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    text-transform:capitalize;
    color: rgba(102, 101, 101,0.8);
    padding: 15px 0;
}
.link_shop{
    position: relative;
}

.hot__parent{
    position: absolute;
    top: 0;
  left: 21%;
}
.hot{
    background-color: #e54d26;
    color: #f2f2f2;
    padding: 2px 5px;
    position: relative;
    margin-left: 200px;
    font-size: 10px;
  }
  .hot::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #e54d26 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
  
  .elementorlive__pages{
    background-color: #7628a2;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    display: block;
    width: fit-content;
    margin-left: 50px;
 
    font-size: 11px;
  }
  .elementorlive__pages::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #7628a2 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
  
.link_blog{
    position: relative;
}

.blog_hover--parent{
position: absolute;
top: 54px;
left:5px;
width: 220px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
display: none;
background-color: white;
}
.blog_hover--parent p{
    text-transform: capitalize;
    padding: 13px 0;
    padding-left: 22px;
    border-bottom: rgba(204, 200, 200, 0.25)1px solid;
    color: rgba(87, 85, 85, 0.8);
    font-family: "Lato","Helvetica","Arial","sans-serif";
}
.link_blog:hover .blog_hover--parent{
    display: block;
}
.blog_hover--parent p:hover{
    color: #f05a66;
}
.pages_link{
    position: relative;
}
.pages_hover--parent{
    position: absolute;
    top: 54px;
    left:5px;
    width: 220px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: none;
   transition: all 2s;
   background-color: white;
}
.pages_link:hover .pages_hover--parent{
   display: block;

}
.pages_hover--parent p{
    text-transform: capitalize;
    padding: 13px 0;
    padding-left: 22px;
    border-bottom: rgba(204, 200, 200, 0.25)1px solid;
    color: rgba(87, 85, 85, 0.8);
    font-family: "Lato","Helvetica","Arial","sans-serif";
    font-size: 14px;
}
.pages_hover--parent p:hover{
    color: #f05a66;
    
}

.link_elementorlive{

    position: relative;
}
.elementorlive_parent--parent{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 60px;
    left:300px;
    height: 500px;
    background-color: white;
    
    display: none;
}
.elementorlive_hover--parent{
    display: flex;
flex-wrap: wrap;
padding: 30px 0;
padding-left: 40px;

}

.li_elementorlive:hover .elementorlive_parent--parent{
 display: block;
 
}
.elementorlive_child{
    width: 25%;
}
.elementorlive__parent{
    position: absolute;
    top: 0;
  left: 42%;
}
.elementorlive{
    background-color: #7628a2;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    margin-left: 200px;
    font-size: 11px;
  }
  .elementorlive::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #7628a2 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
.elementorlive_child h4{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    color: rgba(66, 65, 65,0.9);
}
.elementorlive_child p{
    text-transform: capitalize;
    padding: 12px 0;
    color: rgba(87, 85, 85, 0.8);
    font-family: "Lato","Helvetica","Arial","sans-serif";
    font-size: 14px;
}
.buy_link{
    position: relative;
}
.buy__parent{
    position: absolute;
    top: 0;
  left: 49%;
}
.buy{
    background-color: #22c8e5;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    margin-left: 200px;
    font-size: 11px;
  }
  .buy::before {
    content: "";
    position: absolute;
   top: 15px;
   left: 6px;
  
   width: 0px;
   height: 0px;
   border-top: #22c8e5 solid 4px;
   border-left: transparent solid 4px;
   border-right: transparent solid 4px;
   border-bottom: transparent solid 4px;
   
  }
  
  .red__cycle{
    background-color: #f05a66;
   color: white;
    padding: 3px 5px;
    position: absolute;
    border-radius: 50%;
    font-size: 10px;
    top: 6px;
    right: 8.85%;
    border-top: none;
  }
.img_bag{
    width: 100%;
}

.article_bag--container{
    position: absolute;
 bottom: 25%;
   left: 70px;
animation-name: type;
   z-index: 1;
   animation-duration: 1s;
}

@keyframes type {
    from{
        bottom: 0%; opacity: 0;
    }
    to {
        bottom: 25%; opacity: 1;
    }
}

.p_bag{
    color: white;
    text-transform: capitalize;
    font-size: 60px;
    font-family: "Lato","Helvetica","Arial","sans-serif";
}
.p_bag--header{
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button_bag{
    margin-top: 20px;
    padding: 16px 28px;
    background-color: #f05a66;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: "Lato","Helvetica","Arial","sans-serif";
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
}
.button_bag:hover{
    background-color: #d41222;
    cursor: pointer;
}
.bag{
    position: relative;
}
.fa-chevron-left,
.fa-chevron-right{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 28px;
}
.fa-chevron-left{

    bottom:47%;
 left: 30px;
}
.fa-chevron-right{
    bottom:47%;
    right: 30px;
}



.pseudo{
    background-color: black;
   

}
.card_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
}
.card{
    width: 31.5%;
    position: relative;
    overflow: hidden;
    z-index: 3;
    
}

.card:hover .card_image{
    transform: scale(1.25,1.25);
    
}

.card_image{
   width: 100%;
   transition: all 4s;
  opacity: 0.5;
  display: block;
}

.card_button{
    position: absolute;
right: 110px;
bottom: 10%;
background-color: rgba(255,255,255,0.8);
color: #232323;
padding: 10px 16px;
border: none;
font-size: 17px;
text-transform: uppercase;
font-weight: 400;
font-family: "Lato","Helvetica","Arial","sans-serif";
z-index: 5;
}
.card_button--editor1{
    right: 130px;
}
.card_button--editor2{
    right: 150px;
}
.card_button:hover{
    background-color: #f05a66;
    color: white;
    cursor: pointer;
}




.collection_header{
   text-align: center;
   margin-top: 80px;
   text-transform: uppercase;
}
.collection_p2{
  text-transform: initial;
    color: #48515a;
    font-size: 16px;
}
.collection_p1{
    color:#6c757d; 
    font-size: 14px;
}
.collection_h2{
    padding: 20px 0;
    color: #262a2e;
    font-size: 26px;
}
.collection--span_container{
    margin-top: 25px;
}
.collection_span{
    margin: 5px 20px;
   
}
.dark_span{
    color: #262a2e;
    font-weight: bold;
    border-bottom: #db2635 2px solid;
    cursor: pointer;
}
.light_span{
    color:#50575e; 
    font-weight: bold;
   
}
.light_span:hover{
    border-bottom: #db2635 2px solid;
    color: #262a2e;
    cursor: pointer;
}












.select-options--parent{
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
   margin-top: 30px;
  
}
.select_options_container{
    width: 23.5%;
    position: relative;
}
.select_image{
    width: 100%;
   display: block;
    
   
}
.select_image--top{
    
    position: absolute;
    left: 0;
    top: 0;
    
    }
.select_image--parent{
    position: relative;
    overflow: hidden;
}
.select-link_container{
    background-color: rgba(238, 78, 78, 0.7);
    position: absolute;
   width: 100%;
    padding: 13px 0;
top: 100%;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
   opacity: 0;
    transition: all 0.25s;

 }

 .select_options_container:hover .select-link_container{
  opacity: 1;
 
  top:88%;
 }


.select_link{
    font-size: 12px;
}
.select-link_container:hover{
    background-color: rgb(238, 80, 80);
    cursor: pointer;
}
.select_image--parent:hover .select_image--top{
    opacity: 0;
}

.link_select--container{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
  opacity: 0;
  transition: all 0.15s;
  }
  
  .link_select{
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  .link_select--container li{
    padding: 10px 15px;
  }
  .select_options_container:hover .link_select--container{
    opacity: 1;
    
    right: 10px;
  }
.link_select{
    color: #161616;
}

.article-shop,
.light-article-shop,
.select-link_container,
.light-article-shop,
.select_stars,
.select_price{
    text-align: center;
}
.article-shop{
    font-size: 14px;
    color: #282828;
    margin: 10px 0;
    text-transform: capitalize;
    

}
.light-article-shop{
    color: #9E9E9E;
    font-size: 14px;
}
.fa-star{
    color: #f3d008;
    margin: 10px 0;
}
.select_price{
    margin-bottom: 20px;
    font-size: 14px;
  color: #db2635;
}
.gray-star{
    color: #9E9E9E;
}
.fa-star-half-stroke{
    color: #f3d008;
}


.customer{
    height: 500px;
    overflow: hidden;
    margin-top: 70px;
    margin-left: -70px;
    margin-right: -70px;
   }
   
   .customer__overflow--container{
     background-image: url(men-images/demo2-bg_testi.jpg);
     height: 700px;
     background-attachment: fixed;
   
    
     
   }
   .customer__background{
     background-color:rgba(0,0,0,0.5);
     height: 500px;
     position: relative;
     
   }
   .customer_article--container{
     width: 60%;
     margin: 0 auto;
     text-align: center;
     
   }
   .customer_article--container{
     padding-top: 120px;
   }
   .customer__title,
   .customer__number,
   .customer__article1{
     color: white;
     font-size: 14px;
   }
   .customer__article{

    position: relative;
   }
   .customer__article1{
    line-height: 1.5;
    color: #c7cace;
    
   }
   .customer__title,
   .customer__number{
     font-size: 45px;
     font-weight: 400;
   }
   .customer__number{
    margin-bottom: 30px;
   }
   .fa-customer--left,
   .fa-customer--right{
    position: absolute;
    color: #ffffff;
    top:10%;
    opacity: 0;
    transition: all 0.5s ease;
   }
   .fa-customer--left{
 left: 0%;
 margin-left: -70px;
}
.fa-customer--right{
    right: 0%;
    margin-right: -70px;
}
.customer__article:hover .fa-customer--left{
opacity: 1;
margin-left: -50px;
}
.customer__article:hover .fa-customer--right{
    opacity: 1;
    margin-right: -50px;
    }

.jane-img__container{
    display: flex;
   justify-content: center;
   margin-top: 30px;
   align-items: center;
}
.jane__article--container{
    margin-left: 20px;
}
    .jane__img{
        border-radius: 50%;
        width: 60px;
        opacity: 0.9;
    }
    .jane__title,
    .jane__article{
        color: #c7cace;
        text-transform: capitalize;
        font-size: 12px;
    }
    .jane__title{
        font-weight: 800;
        margin-left: -23px;
    }
    .jane__article{
        font-weight: 300;
    }


.customer__cicles--container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
    .customer__cicles{
        height: 10px;
        width: 10px;
        border: rgb(131, 127, 127) solid 2px;
        border-radius: 50%;
        margin-left: 5px;
    margin-right: 5px;
    }
    .white__cicle{
       background-color: #ffffff;
       border: rgb(255, 252, 252) solid 2px;
    }
    .customer__cicles:hover{
        background-color: #ffffff;
       border: rgb(255, 252, 252) solid 2px;
       cursor: pointer;
    }


.bestellers__titile--container{
    text-align: center;
    margin-top: 80px;
}
.bestellers__short-article,
.bestellers__long-article{
    color: #50575e;
}
.bestellers__short-article,.bestellers__title{
    text-transform: uppercase;
}
.bestellers__title{
    color: #282828;
    margin: 15px 0;
}




    
    .bestellers__card--parent{
    display: flex;
justify-content: space-between;
   margin-top: 40px;

}
.bestellers_card--container{
    width: 18.5%;
    position: relative;
    
}
.bestellers_image{
    width: 100%;
    height:100%;
    
   
}
.bestellers_image--top{
    
    position: absolute;
    left: 0;
    top: 0;
    
    }
.bestellers_image--parent{
    position: relative;
    overflow: hidden;
}
.bestellers-link_container{
    background-color: rgba(238, 78, 78, 0.7);
    position: absolute;
   width: 100%;
    padding: 13px 0;
top:100%;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.25s;

 }

 .bestellers_card--container:hover .bestellers-link_container{
  opacity: 1;
 top: 85%;
 
 }


.bestellers_link{
    font-size: 12px;
}


.bestellers-link_container:hover{
    background-color: rgb(238, 80, 80);
    cursor: pointer;
}
.bestellers_image--parent:hover .bestellers_image--top{
    opacity: 0;
}



.article-shop,
.light-article-shop,
.bestellers-link_container,
.light-article-shop,
.bestellers_stars,
.bestellers_price{
    text-align: center;
}
.article-shop{
    font-size: 14px;
    color: #282828;
    margin: 10px 0;
    text-transform: capitalize;
    

}
.light-article-shop{
    color: #9E9E9E;
    font-size: 14px;
}
.fa-star{
    color: #f3d008;
    margin: 10px 0;
}
.bestellers_price{
    margin-bottom: 20px;
    font-size: 14px;
  color: #db2635;
}
.gray-star{
    color: #9E9E9E;
}
.fa-star-half-stroke{
    color: #f3d008;
}
.link_collections--container{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
  opacity: 0;
  transition: all 0.15s;
  }
  
  .link_collections{
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  .link_collections--container li{
    padding: 10px 15px;
  }
  .bestellers_card--container:hover .link_collections--container{
    opacity: 1;
    
    right: 10px;
  }

  
.bestellers__cicles--container{
    display: flex;
    justify-content: center;
    margin:10px 5px;
}
    .bestellers__cicles{
        height: 10px;
        width: 10px;
        border: rgb(131, 127, 127) solid 2px;
        border-radius: 50%;
        margin-left: 5px;
    margin-right: 5px;
    transition: all 1s;
    }
    .black__cicle{
       background-color: #161616;
       border: #161616 solid 2px;
    }
    .bestellers__cicles:hover{
        background-color: #161616;
       border: #161616 solid 2px;
       cursor: pointer;
    }
    .stylish{
        margin-top: 70px;
    }
    .stylish_img--container{
        overflow: hidden;
        margin: 0 -70px;
    }
    .stylish_img{
        width: calc(100%+100px)
       
    }
    .stylish_img--container{
        position: relative;
    }
    .stylish_article--container{
        position: absolute;
     left: 70px;
     top: 40%;
    }
    .stylish_article,
    .stylish_article{
        color: #504c4c;
        font-size: 14px;
       
    }
    .stylish__design{
        font-size: 36px;
        color: #232323;
        text-transform: uppercase;
        margin: 10px 0;
    }
    .stylish__activity{
        text-transform: uppercase;
    }
    .button_stylish{
        margin-top: 40px;
        padding: 14px 22px;
        background-color: #f05a66;
        color: white;
        border: none;
     
        font-family: "Lato","Helvetica","Arial","sans-serif";
        font-size: 15px;
       transition: all 1s;
        z-index: 1;
    }
    .button_stylish:hover{
        background-color: #d41222;
        cursor: pointer;
    }
    .latest__titile--container{
        text-align: center;
        margin-top: 80px;
    }
    .latest__short-article,
    .latest__long-article{
        color: #60676d;
    }
    .latest__short-article{
        font-size: 13px;
    }
    .latest__short-article,.latest__title{
        text-transform: uppercase;
    }
    .latest__title{
        color: #282828;
        margin: 15px 0;
    }

.stylish__card--parent{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   position: relative;
   margin-bottom: 30px;
}
    .stylish__card--container{
        width: 32%;
        border: #d2d6da solid 1px;
        border-radius: 0 0 5px 5px;
        position: relative;
      
    }
    .stylish__card--image__container{
        overflow: hidden;
       
    }
    .stylish__card--container:hover .stylish__card--image{
transform: scale(1.15);
    }
    .stylish__card--image{
        width: 100%;
        transition: all 1s;
        
    }
    .stylish__card--article__container{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .stylish__card--title{
        font-size: 15px;
        color: #3d3d3d;
        font-weight: 600;
        transition: all 1s;
    }
    .stylish__card--title:hover{
        color: #f05a66;
        cursor: pointer;
    }
    .stylish__card--article{
        margin: 15px 20px;
        color: #635f5f;
        font-size: 14px;
    }
    .stylish__card--link{
        text-transform: uppercase;
        color: #f05a66;
        font-weight: 500;
        
    }
.stylish__card--link:hover{
    cursor: pointer;
}
    .stylish__baj{
        background-color: #f05a66;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 70px;
        text-align: center;
       padding-top: 10px;
    }
    .stylish__baj p{
        color: #ffffff;
        margin-top: 3px;
        font-size: 14px;
        
    }
    .stylish__baj--mark{
        text-transform: uppercase;
    }
    .stylish__left--chevron,
   .stylish__right--chevron{
    position: absolute;
    color: #3a3939;
    top:50%;
    opacity: 0;
    transition: all 0.5s ease;
   }
   .stylish__left--chevron{
 left: 0%;
 margin-left: -50px;
}
.stylish__right--chevron{
    right: 0%;
    margin-right: -50px;
}
.stylish__card--parent:hover .stylish__left--chevron{
opacity: 1;
margin-left: -40px;
}
.stylish__card--parent:hover .stylish__right--chevron{
    opacity: 1;
    margin-right: -40px;
    }
    .hr{
        margin: 80px -70px;
    border-color: rgb(219, 215, 215);
    }



  
      .fa-envelope{
       font-size:200px;
        color:#f2f2f2 ;
        transform: rotate(-40deg) translateY(-20px);
        position: absolute;
z-index: 7;
      }
      .form__section{
        
        width: 100%;
        position: relative;
        z-index: 8;
        border: #f2f2f2 solid 7px;
        overflow: hidden;
      }
      .form__section--content{
        display: flex;
        justify-content: space-between;
       margin-left: 100px;
       margin-right: 100px;
        position: relative;
        z-index: 8;
        top: 0;
      }
      .sign-up__parent
      {
       width: 40%;
       margin-top: 50px;
     }
     .form__parent{
        width: 60%;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
        
     }
     .sign-up{
        font-size: 29px;
        text-transform: uppercase;
        
     }
     .newsletter{
        font-size:29px;
        text-transform: uppercase;
        color: #f05a66;
    
     }
     .sign-up__article{
        color: #3a3939;
        font-size: 14px;
        margin-top: 15px;
     }
     
     .email{
        width: 70%;
        height: 50px;
        margin-right: 10px;
        border: 2px solid #f2f2f2;
        padding-left: 30px;
      
        
     }
     .form__subscribe{
        
        padding: 16px 28px;
        background-color: #f05a66;
        color: white;
        border: none;
        text-transform: uppercase;
        font-family: "Lato","Helvetica","Arial","sans-serif";
        font-size: 15px;
        font-weight: 600;
      
     }
     .checkbox{
        margin-top: 20px;
          
     }
     .checkbox__label{
        padding-left: 5px;
        color: #666666;
        font-size: 14px;
        
     }
     .black__section{
        background-color: #2c2c2c;
        margin-top: 50px;
        margin-left: -70px;
        margin-right: -70px;
        height: 450px;
        padding-top: 40px;
     }
     .black__parent--margign{
        margin-left: 70px;
        margin-right: 70px;
     }
     .black-flex__parent{
        display: flex;
        justify-content: space-between;
     }
     
     .black-flex__child{
        width: 19%;
     }
     .bigger__width{
        width: 30%;
     }
     .black__link{
        color: #ffffff;
        text-decoration: none;
     }
    .black__article,.black__title,.black-image__article{
        color: #ffffff;
    }
    .black-image__article{
        margin-top: 40px;
        color: #999999;
        line-height: 1.5;
        font-size: 15px;
    }
    .black-flex__child--container{
        display: flex;
        width: 73%;
        justify-content: space-around;

    }
    .black-image__parent{
        width: 25%;
    }
    .black__title{
        margin-bottom: 25px;
        font-size: 19px;
        font-weight: 500;
    }
    .black__article{
        font-size: 14px;
        padding: 5px 0;
       color: white;
       cursor: pointer;
    }
  
    .black__link{
        color: #999999;
       font-size: 14px;
       cursor: pointer;
    }
    .black__link:hover{
color: #ffffff;
    }
    .black__span{
        font-size: 14px;
        color: #999999;
        padding:5px 0;
    }
    .hr__footer{
       border-color: #7a7a7a ;
       
        margin: 50px 70px;
        
    }
    .footer__parent{
      
        margin-left: 70px;
        margin-right: 70px;
        padding-left:25%;

    }
    
        .footer__child--article{
            display: inline;
           padding: 0 15px;
        }
        .footer__link{
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
        }
        .last__article{
            text-align: center;
            margin-right: 50px;
            font-size: 13px;
            color: #999999;
            margin-top: 20px;
        }
    



        .fixed__cycle--container{
            background-color: #729c29;
            color: #ffffff;
            font-size: 33px;
            display: inline-block;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            text-align: center;
            position: fixed;
            right: 100px;
            bottom: 60px;
           
        }
        .fixed__dollar{
            font-size: 15px;
         transform: translateY(35px);
        }